* { touch-action: none; margin: 0; padding: 0 }
body {
    background: #fff;
	font-family: 'Microsoft Yahei', arial;
}
.calendars {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.calendar {
    -webkit-transition: .3s;
    font-size: 12px;
    transition: .3s;
    opacity: 1;
    background: #fff;
    display: block;
	top: 0;
    z-index: 100;
    position: fixed;
    left: 0;
    width: 100%;
}
#calendar-content {
    margin-top: 92px;
}

.content-list {
    padding: 15px 10px;
}
.pulldown:before, .pulldown:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    border: 1px solid #ef2121;
    border-left: none;
    border-top: none;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: arrowDown 1.5s infinite;
    animation: arrowDown 1.5s infinite;
}
.pullup:before, .pullup:after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    border: 1px solid #ef2121;
    border-left: none;
    border-top: none;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-animation: arrowUp 1.5s infinite;
    animation: arrowUp 1.5s infinite;
}
@-webkit-keyframes arrowDown {
  to {
    -webkit-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes arrowDown {
  to {
    -webkit-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg);
    opacity: 0;
  }
}

@-webkit-keyframes arrowUp {
  to {
    -webkit-transform: translateY(-6px) rotate(-135deg);
            transform: translateY(-6px) rotate(-135deg);
    opacity: 0;
  }
}

@keyframes arrowUp {
  to {
    -webkit-transform: translateY(-6px) rotate(-135deg);
            transform: translateY(-6px) rotate(-135deg);
    opacity: 0;
  }
}
.content-list .content-img {
    width: 100%;
}
.content-list .content-img img{
    display: block;
    width: 100%;
}

.content-list .content-title {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 5px;
    line-height: 1.6;
    color: #1a1a1a;
}
.content-list .content-type {
    padding: 2px 0px 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: #fff;
}
.content-type.type1 {
    background: #707C9B;
}
.content-type.type2 {
    background: #EF5350;
}
.content-type.type3 {
    background: #27AB9E;
}
.content-type.type4 {
    background: #4C91FF;
}
.content-type.type5 {
    background: #BE4ED1;
}
#calendar-content {
    -webkit-transition: .5s;
    transition: .5s;
}
#calendar-content .no-data {
    padding-top: 50px;
    text-align: center;
    color: #888;
}
.calendar a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.calendar .slide {
    -webkit-transition: .5s;
    transition: .5s;
}
.calendar .calendar-title {
    font-size: 16px;
    color: #ef2121;
    padding: 5px 12px 2px;
}
.calendar .calendar-week {
    overflow: hidden;
    padding: 5px 0;
}
.calendar .calendar-week span {
    float: left;
    width: 14.28%;
    font-size: 14px;
    text-align: center;
    color: #818181;
}
.calendar .calendar-list {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    width: 300%;
    overflow: hidden;
    height: 40px;
    z-index: 5;
    -webkit-transform: translate3D(-33.3333%, 0, 0);
    transform: translate3D(-33.3333%, 0, 0);
    -moz-box-shadow:0px 6px 8px #8A8A8A; 
    -webkit-box-shadow:0px 6px 8px #8A8A8A;
     box-shadow:0px 6px 8px #8A8A8A;

}
.calendar .calendar-list > div {
    width: 33.3333%;
    overflow: hidden;
}
.calendar .calendar-list.prev-to {
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
}
.calendar .calendar-list.next-to {
    -webkit-transform: translate3D(-66.6666%, 0, 0);
    transform: translate3D(-66.6666%, 0, 0);
}
.calendar .calendar-list span {
    float: left;
    width: 14.28571%;
    font-size: 1.5em;
    line-height: 34px;
    text-align: center;
}
.calendar .calendar-list a {
    position: relative;
    display: block;
    line-height: 35px;
    text-align: center;
    color: #cecece;
}
.calendar .calendar-list a.active {
    color: #1a1a1a;
}
.calendar .calendar-list a.active:before {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 3px;
    width: 50%;
    height: 3px;
    background: #ef2121;
}

.calendar .calendar-list .prev-m,
.calendar .calendar-list .next-m {
    color: #ededed;
}

.calendar .calendar-list .today {
    color: rgba(239,33,33, .5);
}
.calendar .calendar-list .today.active {
    color: #ef2121;
}
.calendar .calendar-list .today.has-question {
    color: #ef2121;
}
.calendar .calendar-list .has-question {
    color: #22BC99;
}


